SGI_APP_NAME=Sistema Interno - Distribuidora de Ropa
SGI_API_V1_PREFIX=/api/v1
SGI_ENV=dev
SGI_DEBUG=true
SGI_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/ropa_db
SGI_JWT_SECRET_KEY=replace_with_secure_secret
SGI_JWT_ALGORITHM=HS256
SGI_ACCESS_TOKEN_EXPIRE_MINUTES=30
